@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../../app/";

/* Customize Nuxt UI default tokens */
/* Follows https://sites.google.com/bcdevexchange.org/designsystem/foundation-styles/colours */
:root {
  /* Nuxt UI Default Text Colours */
  --ui-text-dimmed: var(--color-gray-400);
  --ui-text-muted: var(--color-gray-500);
  --ui-text-toned: var(--color-gray-600);
  --ui-text: var(--ui-neutral);
  --ui-text-highlighted: var(--ui-neutral-highlighted);
  --ui-text-inverted: var(--color-white);
  /* Variant Colours */
  --ui-error: var(--color-red-600);
  --ui-primary: var(--color-blue-500);
  --ui-secondary: white;
  --ui-success: var(--color-green-600);
  --ui-warning: #F8661A;
  /* Custom themes */
  --ui-brand: var(--color-midnightBlue-900);
  --ui-brand-inverted: var(--color-yellow-400);
  --ui-line: #6F7780;
  --ui-line-muted: var(--color-gray-300);
  --ui-line-highlighted: #899EB2;
  --ui-mark: #1A5A96;
  --ui-mark-highlighted: #0000EE;
  --ui-neutral: var(--color-gray-700);
  --ui-neutral-highlighted: var(--color-gray-900);
  --ui-neutral-toned: #757575;
  --ui-shade-caution: #FFF7E3;
  --ui-shade-inverted: white;
  --ui-shade-new: #E8F5E9;
  --ui-shade: var(--color-gray-100);
  --ui-shade-secondary: #E2E8EE;
  --ui-shade-highlighted: var(--color-blue-50);
  --ui-shade-warning: #FAE9E9;
  --ui-radius: 0.1667rem;
}

/* FUTURE: add dark themed colours (currently set to be the same) */
.dark {
  /* Nuxt UI Default Text Colours */
  --ui-text-dimmed: var(--ui-color-gray-400);
  --ui-text-muted: var(--ui-color-gray-500);
  --ui-text-toned: var(--ui-color-gray-600);
  --ui-text: var(--ui-neutral);
  --ui-text-highlighted: var(--ui-neutral-highlighted);
  --ui-text-inverted: var(--color-white);
  /* Variant Colours */
  --ui-error: var(--color-red-600);
  --ui-primary: var(--color-blue-500);
  --ui-secondary: white;
  --ui-success: var(--color-green-600);
  --ui-warning: #F8661A;
  /* Custom themes */
  --ui-brand: var(--color-midnightBlue-900);
  --ui-brand-inverted: var(--color-yellow-400);
  --ui-line: #6F7780;
  --ui-line-muted: var(--color-gray-300);
  --ui-line-highlighted: #899EB2;
  --ui-mark: #1A5A96;
  --ui-mark-highlighted: #0000EE;
  --ui-neutral: var(--color-gray-700);
  --ui-neutral-highlighted: var(--color-gray-900);
  --ui-neutral-toned: #757575;
  --ui-shade-caution: #FFF7E3;
  --ui-shade-inverted: white;
  --ui-shade-new: #E8F5E9;
  --ui-shade: var(--color-gray-100);
  --ui-shade-secondary: #E2E8EE;
  --ui-shade-highlighted: var(--color-blue-50);
  --ui-shade-warning: #FAE9E9;
  --ui-radius: 0.1667rem;
}

/* Main Theme */
@theme static {
  /* font */
  --font-sans: 'BCSans', 'Verdana', 'Arial', 'sans-serif';

  /* widths */
  --container-bcGovMd: 1020px;
  --container-bcGovLg: 1360px;
  --container-input: 600px;

  /* list style types */
  --marker-alpha: lower-alpha;
  --marker-upper-alpha: upper-alpha;

  /* box shadow */
  --shadow-input: inset 0 -1px 0 0px var(--ui-neutral);
  --shadow-input-focus: inset 0 -2px 0 0px var(--ui-primary);
  --shadow-input-error: inset 0 -2px 0 0px var(--ui-error);

  /* GRAY */
  --color-gray-50: #f8f9fa;
  --color-gray-100: #f1f3f5;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #868e96;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-gray-950: #232529;
  
  /* BLUE */
  --color-blue-50: #e4edf7;
  --color-blue-100: #e0e7ed;
  --color-blue-150: #b3c2d1;
  --color-blue-200: #8099b3;
  --color-blue-300: #4d7094;
  --color-blue-350: #38598a;
  --color-blue-400: #26527d;
  --color-blue-500: #1669bb;
  --color-blue-600: #125192;
  --color-blue-700: #002e5e;
  --color-blue-800: #002753;
  --color-blue-900: #002049;
  --color-blue-950: #001438;

  /* RED */
  --color-red-50: #fef2f2;
  --color-red-100: #fde3e4;
  --color-red-200: #fdcbcc;
  --color-red-300: #faa7a9;
  --color-red-400: #f57478;
  --color-red-500: #eb484d;
  --color-red-600: #d3272c;
  --color-red-700: #b52024;
  --color-red-800: #961e21;
  --color-red-900: #7d1f22;
  --color-red-950: #440b0d;

  /* YELLOW */
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef2c7;
  --color-yellow-200: #fee589;
  --color-yellow-300: #fdd14c;
  --color-yellow-400: #fcba19;
  --color-yellow-500: #f69b0a;
  --color-yellow-600: #da7505;
  --color-yellow-700: #b55108;
  --color-yellow-800: #933e0d;
  --color-yellow-900: #79340e;
  --color-yellow-950: #451903;

  /* GREEN */
  --color-green-50: #f2fbf4;
  --color-green-100: #e2f6e6;
  --color-green-200: #c6eccd;
  --color-green-300: #99dca6;
  --color-green-400: #65c378;
  --color-green-500: #40a755;
  --color-green-600: #2e8540;
  --color-green-700: #286d37;
  --color-green-800: #24572f;
  --color-green-900: #1f4828;
  --color-green-950: #0c2713;

  /* MIDNIGHT BLUE */
  --color-midnightBlue-50: #eef7ff;
  --color-midnightBlue-100: #dceeff;
  --color-midnightBlue-200: #b2dfff;
  --color-midnightBlue-300: #6dc6ff;
  --color-midnightBlue-400: #20a8ff;
  --color-midnightBlue-500: #008dff;
  --color-midnightBlue-600: #006edf;
  --color-midnightBlue-700: #0057b4;
  --color-midnightBlue-800: #004a94;
  --color-midnightBlue-900: #003366;
  --color-midnightBlue-950: #002651;
}

@font-face {
  font-family: "BCSans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/BCSans/BCSans-Regular.woff2") format("woff2"),
       url("/fonts/BCSans/BCSans-Regular.woff") format("woff"); /* Optimized for very modern browsers */
  font-display: swap;
}

@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/BCSans/BCSans-Italic.woff2") format("woff2"),
       url("/fonts/BCSans/BCSans-Italic.woff") format("woff"); /* Optimized for very modern browsers */
  font-display: swap;
}
@font-face {
  font-family: "BCSans";
  font-weight: 700;
  src: url("/fonts/BCSans/BCSans-Bold.woff2") format("woff2"),
       url("/fonts/BCSans/BCSans-Bold.woff") format("woff"); /* Optimized for very modern browsers */
  font-display: swap;
}

@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/BCSans/BCSans-BoldItalic.woff2") format("woff2"),
       url("/fonts/BCSans/BCSans-BoldItalic.woff") format("woff"); /* Optimized for very modern browsers */
  font-display: swap;
}

html,
body {
  min-height: 100dvh; /* Modern browsers */
  min-height: 100vh;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
  font-size: 0.875rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 960px) {
  html,
  body {
    font-size: 1rem;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply text-neutral-highlighted;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1,
  h2 {
    @apply leading-9;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base;
  }

  p {
    @apply font-normal text-neutral;
  }

  td,
  th {
    @apply text-neutral-highlighted text-sm;
  }

  /* floating labels */
  .floating-label-input {
    @apply pointer-events-none absolute left-0 top-3 text-neutral transition-all motion-reduce:transition-none duration-200 text-xs font-medium px-2.5 peer-focus:top-3 peer-focus:text-xs peer-placeholder-shown:text-sm peer-placeholder-shown:top-1/2 -translate-y-1/2 peer-focus:text-primary peer-aria-invalid:text-error;
  }
  
  .floating-label-textarea {
    @apply pointer-events-none absolute left-0 top-1 text-neutral text-xs font-medium px-2.5 transition-all duration-200 peer-focus:top-1 peer-focus:text-xs peer-placeholder-shown:text-sm peer-placeholder-shown:top-2.5 peer-focus:translate-none peer-focus:text-primary peer-aria-invalid:text-error;
  }
}
